.App {
  text-align: center;
  font-size: 10px;
}

.main-div {

  display:flex;
   flex-wrap:wrap;
   justify-content:center;
   gap:10px;
}

.item{
  flex-basis:30%;
  background-color: aqua;
  border-radius: 20px;
}
  

a:visited { 
  text-decoration: none; 
  color:black;

 }

 a { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

