.App {
  text-align: center;
  font-family: 'Recursive', sans-serif;
}

.collegeName{
  font-size: 24px;
}
.subheading{
  font-size: 18px;
}
.main-div {

    display:flex;
   flex-wrap:wrap;
   justify-content:center;
   gap:30px;

}

.innerDiv{
  display: flex;
  align-items: center;
}
.innerDivItems{
  width: 50%;
}
.myInput{
  width: 380px;
  height: 40px;
  border-radius: 12px;

}
.item{
  flex-basis:30%;
  background-color: #D1F4FF;
  border-radius: 15px;
}
  

.innerDiv{

  align-items: center;
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;
  margin: 0;
  top: 50%;


}
a:visited { 
  text-decoration: none; 
  color:black;

 }

 a { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

